:root[data-theme="light"] {
  --text: #1e1c06;
  --background: #ffffff;
  --primary: #8ab6f0;
  --secondary: #0f3b75;
  --accent: #28b8c8;
}
:root[data-theme="dark"] {
  --text: #f9f7e1;
  --background: #000000;
  --primary: #e9af1e;
  --secondary: #e9af1e;
  --accent: #37c7d7;
}

* {
  transition: all 0.10s ease-in;
}


